body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: url("../img/logo.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  margin-top: 13%;
  background-color: rgba(15, 28, 87, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.logo2 img {
  width: 120px;
  height: 100px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fcfbfb;
}

.role-selection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.role-btn {
  background-color: #429db9;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.role-btn:hover {
  background-color: #1678e7;
}

a > button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
